## Importing 'DDW-C18-0000.XLSX'(Language Data)  and 'DDW-0000C-13A.xlsx'(Census Data according to age) file using pandas

In [1]:
import pandas as pd
data = pd.read_excel('INPUT/DDW-C18-0000.XLSX')
census_data = pd.read_excel('INPUT/DDW-0000C-13A.xlsx')

### Creating the list of age groups included in the language data to get the appropriate data from the census data according to age
### We modify some elements of the list for easy functioning in the later part

In [2]:
age_grp = data['Unnamed: 4'][6:].unique()
age_grp = list(age_grp)
age_grp = age_grp[:9]
age_grp
age_grp[7] = '70-100+'
age_grp[8] = 'Age not stated-'
age_grp

['5-9',
 '10-14',
 '15-19',
 '20-24',
 '25-29',
 '30-49',
 '50-69',
 '70-100+',
 'Age not stated-']

### Getting the list of age column from the census data according to age, and finding the unique values from this list to get one single list of all ages as strings(for matching with above found age groups list) occuring in the complete census data for all states, UTs and India. This will help us to get the ages of age groups found above

In [3]:
age_list = census_data['C-13 APPENDIX - SINGLE YEAR AGE RETURNS BY RESIDENCE, SEX  AND LITERACY STATUS'][6:].unique()
age_list = list(age_list)
for i in range(len(age_list)):
    age_list[i] = str(age_list[i])

### Getting the indices of the starting age of an age group in the above found list so that by manipulating certain parameters we can reach the population for an age with the help of these indices. Also, adding an extra index for getting the data for the last group too

In [4]:
age_grp_ind = []
for i in range(len(age_grp)):
    age_grp_ind.append(age_list.index(age_grp[i].split("-")[0]))
age_grp_ind
age_grp_ind.append(age_grp_ind[-1]+1)
age_grp_ind

[6, 11, 16, 21, 26, 31, 51, 71, 102, 103]

### Getting the unique list of states/UTs from the census data to check whether they are similar to the ones obtained from the language data

In [5]:
name_lst = list(census_data['Unnamed: 3'][6:].unique())
for i in range(len(name_lst)):
    if name_lst[i] == "India":
        name_lst[i] = "INDIA"
    else:
        name_lst[i] = name_lst[i].split("- ")[1]
        name_lst[i] = name_lst[i].split(" (")[0]

### Checking if both have the same states with same sequence

In [6]:
state_lang = data['Unnamed: 2'][6:].unique()
yes = 0
for i in range(len(state_lang)):
    if name_lst[i] == state_lang[i]:
        yes = yes+1
print(yes)

36

### Getting the total population for each state/UT for each age group and storing that in form of a list of lists. Here, the total population is divided in literate and illiterate groups. So, We just sum them up together

In [7]:
age_pop = [[0]*len(age_grp)]*len(name_lst)
for i in range(len(name_lst)):
    temp = [0]*len(age_grp)
    for j in range(len(age_grp)):
        for k in range(age_grp_ind[j],age_grp_ind[j+1]):
            temp[j] =  temp[j] + census_data['Unnamed: 6'][((2*(i + 1))-2)*103 + k + 6] + census_data['Unnamed: 6'][((2*(i+1))-1)*103 + k + 6]
    age_pop[i] = temp

In [8]:
age_pop

[[126928126,
  132709212,
  120526449,
  111424222,
  101413965,
  308492074,
  152333999,
  39730350,
  4489802],
 [1411973,
  1413853,
  1237462,
  1160913,
  1086122,
  3069723,
  1335288,
  395965,
  15119],
 [591177, 639224, 640461, 643866, 589160, 1905011, 987526, 313030, 10163],
 [2368019,
  2583402,
  2817683,
  2776636,
  2463861,
  7481850,
  3927197,
  1149639,
  41522],
 [91194, 93464, 104418, 121244, 110237, 303748, 123507, 25438, 346],
 [1058801, 1145343, 1124110, 970068, 810184, 2419886, 1263434, 352994, 16608],
 [2498757,
  2668678,
  2677390,
  2567486,
  2231959,
  6403218,
  3064954,
  844967,
  31534],
 [1535972,
  1648147,
  1667375,
  1764060,
  1668326,
  4762353,
  1940832,
  402974,
  16702],
 [8042738,
  8380518,
  7314017,
  6426494,
  5348497,
  15938006,
  7444772,
  2081623,
  269602],
 [25061717,
  25869881,
  23040380,
  17578648,
  14579829,
  44192083,
  21596329,
  5894744,
  1622062],
 [15036277,
  13919882,
  9472695,
  8064735,
  7671705,
  22949064,
  11207205,
  2609358,
  403502],
 [56678, 66923, 66937, 67297, 64639, 161866, 66006, 16719, 1176],
 [171123, 179359, 155968, 131696, 123714, 337844, 116414, 23221, 1509],
 [233099, 248671, 229622, 204363, 176901, 475130, 170019, 41964, 1471],
 [291243, 313763, 287008, 281782, 270477, 737266, 328321, 81475, 7777],
 [117788, 116981, 110343, 111708, 102346, 272113, 116083, 27978, 633],
 [337735, 357690, 357829, 373177, 344149, 1010551, 446669, 121935, 1616],
 [389182, 382606, 326188, 285012, 251281, 632928, 235334, 52420, 5784],
 [3544339,
  3491727,
  3068581,
  2909405,
  2815147,
  8016988,
  3328528,
  799204,
  18824],
 [8247809,
  9156523,
  9058031,
  8758322,
  7997909,
  25343015,
  12254977,
  3013935,
  112451],
 [4138425,
  4104396,
  3205268,
  2827622,
  2652639,
  7766660,
  3764294,
  763799,
  116734],
 [4074768,
  4348625,
  3925398,
  3783527,
  3574037,
  11179683,
  5785118,
  1530862,
  119171],
 [2758758,
  2884013,
  2599842,
  2389497,
  2057300,
  6505399,
  3059852,
  726357,
  23115],
 [8266455,
  8564501,
  7446789,
  6727579,
  5787506,
  17814066,
  8166920,
  2298845,
  82862],
 [5835836,
  6149445,
  5865760,
  5780722,
  5278822,
  16291242,
  7649954,
  1888735,
  238844],
 [18506, 17321, 26314, 38584, 33181, 66800, 18727, 4300, 356],
 [36249, 35003, 33104, 44301, 39885, 87888, 26001, 4345, 372],
 [9820654,
  10734535,
  10627267,
  11090966,
  10147113,
  30272010,
  15525963,
  4386103,
  407696],
 [7304432,
  8201595,
  8093747,
  8132094,
  7799036,
  23148452,
  11934675,
  2910550,
  771431],
 [5241509,
  5736646,
  5827277,
  6052558,
  5771606,
  16740325,
  8421945,
  2210861,
  45851],
 [105968, 110989, 113875, 130745, 132626, 455405, 244268, 61372, 2094],
 [5407, 5998, 5624, 5829, 5967, 19244, 9414, 1823, 115],
 [2555112,
  2822770,
  2610552,
  2665809,
  2604092,
  9796202,
  6087358,
  1776588,
  34486],
 [5551255,
  6177547,
  6253792,
  6411543,
  6663746,
  21429281,
  11455580,
  2858780,
  66805],
 [98717, 105726, 102316, 108819, 118244, 387613, 182843, 48625, 1101],
 [30454, 33467, 33026, 37115, 41722, 119161, 47692, 8822, 368]]

### Getting the percentage of population speaking third language for all state/UTs and India

In [9]:
age_percent = [[0]*len(age_grp)]*len(name_lst)
for i in range(len(name_lst)):
    temp = [0]* len(age_grp)
    for j in range(len(age_grp)):
        temp[j] = (data['Unnamed: 8'][(list(data['Unnamed: 2']).index(name_lst[i]))+j+1])*100 / age_pop[i][j]
    age_percent[i] = temp

In [10]:
age_percent

[[1.4528757794785374,
  5.466338689434762,
  10.47630383601528,
  11.51844165445463,
  10.705794808436885,
  8.903594716018539,
  7.166069998595652,
  4.91951115457075,
  5.682455484673935],
 [5.211785211190299,
  15.743220829888255,
  27.407063812868596,
  29.580166644701197,
  25.03853158300817,
  19.798040409509262,
  15.150739016601662,
  8.563888222443904,
  10.47026919769826],
 [1.1071134364158282,
  4.612311177302479,
  8.009543125967078,
  8.206521232678849,
  7.733892321270962,
  5.9210681723097665,
  4.150473000204552,
  2.3627128390250136,
  3.6996949719570993],
 [7.716154304505158,
  28.538841419182923,
  45.763948606000035,
  45.64296508436828,
  40.69044479376069,
  31.047334549610056,
  22.44308090477763,
  11.922612228708315,
  22.099128173016712],
 [9.37123056341426,
  29.34605837541727,
  39.47882548985807,
  37.958167002078454,
  33.681976106026106,
  32.233298655464395,
  42.7749034467682,
  42.56230835757528,
  18.786127167630056],
 [0.39809180384227066,
  1.3885796656547427,
  2.6267002339628682,
  3.094834588915416,
  2.8008452400936084,
  2.2733715555195575,
  1.938288822368244,
  1.6238236343960522,
  1.3728323699421965],
 [0.7081921131186426,
  3.6538315975175726,
  7.318619999327703,
  7.306368953910557,
  6.651645482735122,
  5.314577763868105,
  4.965164240637869,
  3.4830946060615386,
  4.601382634616605],
 [1.8564140492144388,
  5.240612639527906,
  8.183581977659495,
  9.064827726948064,
  9.37946180782413,
  9.858656004710276,
  13.377458739344776,
  14.999230719599776,
  5.53825889115076],
 [0.19564232976381923,
  1.2386943145996465,
  2.8840649399639076,
  2.741199167073057,
  2.2672163787321935,
  1.6984182337489395,
  1.1779541401670863,
  0.7360602760442213,
  1.9024339582050578],
 [0.24124444466434602,
  1.040055035429038,
  2.1961747158684015,
  2.4433961019072683,
  1.973973768828153,
  1.535897278252306,
  1.2828383935066001,
  0.9773113132648339,
  1.1970565859997953],
 [0.6191293230365469,
  1.8809283009726663,
  2.9184302883181608,
  2.7208581559096485,
  2.2600582269521574,
  1.9683678602316852,
  1.526491217034042,
  1.171935778839086,
  1.2408860426961947],
 [10.21207523201242,
  32.37302571612151,
  45.79828794239359,
  42.009302049125516,
  39.29361530964279,
  33.27567246982072,
  20.52843680877496,
  11.56169627370058,
  23.639455782312925],
 [13.070130841558411,
  36.06119570247381,
  47.58924907673369,
  44.6535961608553,
  41.30898685678258,
  35.105551674737455,
  21.735358290240004,
  13.17342061065415,
  26.905235255135853],
 [8.658981806013754,
  26.249944706057402,
  38.72625445297054,
  40.33998326507245,
  39.01843403937796,
  34.04689242944036,
  25.39833783283045,
  15.329806500810218,
  17.063222297756628],
 [4.068423962120978,
  15.148695034149979,
  28.00653640316646,
  31.48213867457822,
  31.6633207259767,
  29.38912142971465,
  22.519120007553582,
  13.222460877569807,
  16.973125884016973],
 [0.5577817774306381,
  2.573922260879972,
  5.094115621289977,
  6.679915493966412,
  7.235260782053036,
  7.420446652677381,
  6.326507757380495,
  4.457073414825935,
  4.265402843601896],
 [1.0567456733829779,
  3.580195141043921,
  6.737855232527268,
  8.211384946017574,
  7.932320012552703,
  7.040218652992278,
  5.7816862150720105,
  2.5562799852380365,
  3.8985148514851486],
 [1.523451752650431,
  5.847268469391489,
  11.747826406857396,
  14.249575456472009,
  14.8399600447308,
  14.862512007684918,
  13.182540559375186,
  9.263639832125143,
  7.935684647302905],
 [2.1353770054162426,
  9.927293857738592,
  19.193008103745672,
  21.065613072088624,
  20.082006374800322,
  19.295700579818757,
  15.910666817283797,
  10.53735967287451,
  12.02188695282618],
 [0.5088260409522093,
  1.5845752803766233,
  3.2362883280041768,
  4.295834293372635,
  4.382532984558839,
  4.0245448302027205,
  4.457690944666807,
  3.430034158002744,
  3.9474971320841967],
 [1.42247352555622,
  4.411392078152303,
  7.251624513145234,
  7.375031033143751,
  6.728054590164738,
  6.2976363069839545,
  5.484189067060118,
  4.162089764453738,
  5.414018195213049],
 [2.003868686511723,
  10.611354163672425,
  22.309814189542053,
  22.02500471121258,
  20.66839263275674,
  16.65336128045849,
  9.98370301176225,
  5.217191360161792,
  12.737998338521956],
 [0.5339359233394158,
  1.3960408638934707,
  1.997775249419003,
  2.260308341044161,
  2.296116268896126,
  2.2342211446215674,
  1.9091119439763753,
  1.4163834037532508,
  1.4752325329872378],
 [0.23823997106377523,
  1.4092823388075966,
  2.9632771923576726,
  2.821133724330848,
  2.4384078392316137,
  2.1215145380060902,
  1.9097897371346848,
  1.3311032279253276,
  1.7812748907822644],
 [2.0738416912332696,
  12.2986871172927,
  23.986559286435178,
  23.240038182081754,
  20.865810591832798,
  16.43932365623198,
  12.812782926537858,
  7.903649797351137,
  14.117164341578604],
 [4.593104938938723,
  16.078748340165117,
  18.017025157710723,
  13.97988803649181,
  15.466682740122359,
  18.17814371257485,
  16.32402413627383,
  11.116279069767442,
  6.179775280898877],
 [7.7464205909128525,
  31.90297974459332,
  33.82974867085549,
  23.753414144150245,
  23.16158957001379,
  24.571044966320773,
  17.2877966232068,
  10.195627157652474,
  12.903225806451612],
 [4.347989451619006,
  14.26252744063902,
  26.215244239182095,
  27.06817422395849,
  25.195235334424677,
  20.92126687326015,
  16.27713527334826,
  11.296588338212759,
  16.209872061536046],
 [1.5850924479822661,
  6.891013272418353,
  12.981033382931292,
  12.768113600260893,
  10.751085134111447,
  8.151875555220712,
  5.565220670022435,
  3.9156516809537716,
  9.175415558876944],
 [3.937816380740737,
  10.16201801540482,
  15.966479712565578,
  17.57703106686462,
  17.333927506486063,
  15.932695452447906,
  13.683394987737394,
  10.146951798416996,
  8.994351268238425],
 [18.60656047108561,
  54.890124246546954,
  68.0886937431394,
  62.34043366859153,
  62.4877475004901,
  61.53050581350666,
  48.26542977385495,
  32.42846900866845,
  32.473734479465136],
 [0.7952653967079711,
  6.885628542847616,
  22.243954480796585,
  25.990735975295934,
  24.40087145969499,
  19.257950530035334,
  16.061185468451242,
  4.05924300603401,
  9.565217391304348],
 [0.8506085056154095,
  5.813013458411419,
  15.106192100368045,
  16.945887721138313,
  14.02511892820991,
  11.12016677483784,
  9.79005998990038,
  5.867314200028369,
  6.135823232616134],
 [1.2850427515940088,
  2.983465767237384,
  4.2387242812041075,
  4.589020146944347,
  4.30268500630126,
  3.9946370575849,
  3.5366345484034856,
  2.9062747045942676,
  1.8651298555497342],
 [1.4171824508443327,
  4.512608062349848,
  7.262793697955354,
  7.852488995487921,
  6.763979567673624,
  6.805241310275971,
  6.8244340773231675,
  5.37172236503856,
  4.813805631244323],
 [6.429368884218822,
  19.87330803478053,
  28.747047780536548,
  24.7096861107369,
  23.28747423421696,
  22.72555618029389,
  16.361234588610248,
  8.739514849240535,
  17.391304347826086]]

### Getting the maximum percentage for each state/UT with the index for the age group which has this highest percentage

In [11]:
age_percentmax = [0] * len(name_lst)
age_percentmax_agegrp = [0] * len(name_lst)
for i in range(len(name_lst)):
    age_percentmax[i] = max(age_percent[i])
    age_percentmax_agegrp[i] = age_grp[age_percent[i].index(age_percentmax[i])]

### Changing back the age groups back to normal

In [12]:
for i in range(len(age_percentmax_agegrp)):
    if age_percentmax_agegrp[i] == '70-100+':
        age_percentmax_agegrp[i] = '70+'
    if age_percentmax_agegrp[i] == 'Age not stated-':
        age_percentmax_agegrp[i] = 'Age not stated'

### Getting the codes of the states

In [13]:
state_code = [0] * len(name_lst)
for i in range(len(name_lst)):
    state_code[i] = data['C-18 POPULATION BY BILINGUALISM, TRILINGUALISM, AGE AND SEX'][list(data['Unnamed: 2']).index(name_lst[i])]

### Exporting the state codes, state names into a dataframe

In [14]:
data_final = {'state-code': state_code, 'state/ut': name_lst,'age-group': age_percentmax_agegrp,'percentage': age_percentmax}
age_india = pd.DataFrame(data_final)
age_india

   state-code                   state/ut age-group  percentage
0          00                      INDIA     20-24   11.518442
1          01            JAMMU & KASHMIR     20-24   29.580167
2          02           HIMACHAL PRADESH     20-24    8.206521
3          03                     PUNJAB     15-19   45.763949
4          04                 CHANDIGARH     50-69   42.774903
5          05                UTTARAKHAND     20-24    3.094835
6          06                    HARYANA     15-19    7.318620
7          07               NCT OF DELHI       70+   14.999231
8          08                  RAJASTHAN     15-19    2.884065
9          09              UTTAR PRADESH     20-24    2.443396
10         10                      BIHAR     15-19    2.918430
11         11                     SIKKIM     15-19   45.798288
12         12          ARUNACHAL PRADESH     15-19   47.589249
13         13                   NAGALAND     20-24   40.339983
14         14                    MANIPUR     25-29   31.663321
15         15                    MIZORAM     30-49    7.420447
16         16                    TRIPURA     20-24    8.211385
17         17                  MEGHALAYA     30-49   14.862512
18         18                      ASSAM     20-24   21.065613
19         19                WEST BENGAL     50-69    4.457691
20         20                  JHARKHAND     20-24    7.375031
21         21                     ODISHA     15-19   22.309814
22         22               CHHATTISGARH     25-29    2.296116
23         23             MADHYA PRADESH     15-19    2.963277
24         24                    GUJARAT     15-19   23.986559
25         25                DAMAN & DIU     30-49   18.178144
26         26       DADRA & NAGAR HAVELI     15-19   33.829749
27         27                MAHARASHTRA     20-24   27.068174
28         28             ANDHRA PRADESH     15-19   12.981033
29         29                  KARNATAKA     20-24   17.577031
30         30                        GOA     15-19   68.088694
31         31                LAKSHADWEEP     20-24   25.990736
32         32                     KERALA     20-24   16.945888
33         33                 TAMIL NADU     20-24    4.589020
34         34                 PUDUCHERRY     20-24    7.852489
35         35  ANDAMAN & NICOBAR ISLANDS     15-19   28.747048

### Exporting the dataframe to 'age-india.csv'

In [ ]:
age_india.to_csv('OUTPUT/age-india.csv',index=False)