## Importing 'DDW-C19-0000.XLSX'(Language Data)  and 'DDW-0000C-08.xlsx'(Census Data according to age) file using pandas

In [18]:
import pandas as pd
data = pd.read_excel('INPUT/DDW-C19-0000.XLSX')
census_data = pd.read_excel('INPUT/DDW-0000C-08.xlsx')

### Getting the unique list of states/UTs from the census data to check whether they are similar to the ones obtained from the language data

In [19]:
name_lst = list(census_data['Unnamed: 3'][6:].unique())
name_lst1 = name_lst[:]
for i in range(len(name_lst)):
    if name_lst[i] != "INDIA":
        name_lst[i] = name_lst[i].split("- ")[1]

### Checking if both have the same states with same sequence

In [20]:
state_lang = list(data['Unnamed: 2'][5:869].unique())
yes = 0
for i in range(len(state_lang)):
    if name_lst[i] == state_lang[i]:
        yes = yes+1
print(yes)

36

### Getting the names of the literacy groups from the language data according to literacy

In [21]:
lit_grp = list(data['Unnamed: 4'][5:869].unique())
lit_grp = lit_grp[1:]
lit_grp.remove('Literate')
lit_grp

['Illiterate',
 'Literate but below primary',
 'Primary but below middle',
 'Middle but below matric/secondary',
 'Matric/Secondary but below graduate',
 'Graduate and above']

### Getting the unique names of literacy groups from the census data
### We only need groups from 'Below' which indicates 'Literate but below primary' to 'Graduate & above'

In [22]:
lit_grp_cen = list(census_data.iloc[1].unique())
lit_grp_cen = lit_grp_cen[5:13]
lit_grp_cen

['Below',
 'Primary',
 'Middle',
 'Matric/Secondary',
 'Higher secondary/Intermediate',
 'Non-technical diploma or',
 'Technical diploma or certificate',
 'Graduate & above']

### Getting the column names of the columns consisting the values for the literacy groups found above

In [23]:
lit_grp_cen_ind = []
for i in range(len(lit_grp_cen)):
    lit_grp_cen_ind.append(list(census_data.columns[
    (census_data == lit_grp_cen[i])
    .any(axis=0)
    ])[0])

### Adding column name of 'Illiterate' to the list

In [24]:
lit_grp_cen_ind.insert(0,'Unnamed: 9')

In [25]:
lit_grp_cen_ind

['Unnamed: 9',
 'Unnamed: 18',
 'Unnamed: 21',
 'Unnamed: 24',
 'Unnamed: 27',
 'Unnamed: 30',
 'Unnamed: 33',
 'Unnamed: 36',
 'Unnamed: 39']

In [26]:
lit_grp_tot_cen = [[0]*len(lit_grp)]*len(name_lst1)
for i in range(len(name_lst)):
    temp = [0] * len(lit_grp)
    for j in range(len(lit_grp)):
        if j in range(0,4):
            temp[j] = census_data[lit_grp_cen_ind[j]][(list(census_data['Unnamed: 3']).index(name_lst1[i]))]
        elif j == 4:
            temp[j] = (census_data[lit_grp_cen_ind[j]][(list(census_data['Unnamed: 3']).index(name_lst1[i]))] + 
            census_data[lit_grp_cen_ind[j+1]][(list(census_data['Unnamed: 3']).index(name_lst1[i]))] + 
            census_data[lit_grp_cen_ind[j+2]][(list(census_data['Unnamed: 3']).index(name_lst1[i]))] + 
            census_data[lit_grp_cen_ind[j+3]][(list(census_data['Unnamed: 3']).index(name_lst1[i]))])
        else:
            temp[j] = census_data[lit_grp_cen_ind[j+3]][(list(census_data['Unnamed: 3']).index(name_lst1[i]))]
    lit_grp_tot_cen[i] = temp

In [27]:
lit_grp_tot_cen

[[447216165, 146897597, 184170833, 133903266, 192193344, 68288971],
 [5474069, 987774, 1285909, 1666381, 2244013, 653764],
 [1824866, 611475, 1162995, 826611, 1852386, 446609],
 [9036201, 2227684, 4288200, 3066305, 6755536, 1760846],
 [250012, 90869, 130243, 111879, 265112, 194453],
 [3205339, 1034583, 1550574, 1406871, 1815486, 910288],
 [8752474, 2473145, 3772022, 2705282, 5343778, 1877085],
 [4050174, 1458061, 2230894, 1931411, 3891873, 2757844],
 [30273155, 8083827, 10524424, 7319223, 7298204, 3063282],
 [85414786, 21424480, 27798792, 23122728, 26270147, 9919838],
 [51594899, 13701980, 13154969, 7969599, 11234040, 3061676],
 [165625, 116100, 115601, 69545, 91178, 32669],
 [617722, 164976, 189369, 145848, 188681, 53606],
 [636068, 258594, 330358, 304611, 281452, 89718],
 [947318, 243566, 326953, 457032, 563369, 225620],
 [249031, 215865, 207450, 201482, 159276, 49621],
 [869134, 725461, 698656, 592396, 480515, 137812],
 [1181884, 609064, 412929, 297897, 290310, 90519],
 [12027599, 4550439, 4383390, 4285011, 3993107, 1011345],
 [29737834, 15902612, 14954591, 12474301, 11189459, 4827817],
 [14660065, 4293415, 4808604, 3091107, 4021045, 1328477],
 [15231623, 5886571, 7714716, 5285243, 5178562, 1783797],
 [10165276, 3687369, 4192144, 3202404, 2856326, 1018853],
 [29775640, 9582214, 11878241, 8431000, 7744058, 3222802],
 [19346334, 8462829, 10557001, 6453935, 9984720, 3174158],
 [54841, 26623, 41447, 35626, 64988, 12802],
 [120479, 43709, 48436, 37385, 60876, 19174],
 [30820043, 15335820, 16628201, 12592729, 23790264, 8639081],
 [34024017, 7437519, 13449300, 5572154, 15028263, 5577387],
 [20447975, 6924069, 9493106, 5161708, 12381901, 4043647],
 [293058, 161303, 181495, 166523, 402429, 146828],
 [11920, 9410, 12813, 11305, 13918, 2302],
 [5270237, 4401497, 5065710, 5059809, 9706516, 2531321],
 [20309523, 5629379, 12325162, 9608004, 16331186, 5457742],
 [290644, 93186, 187723, 171301, 336296, 142029],
 [86300, 42129, 68415, 68620, 84074, 24159]]

In [28]:
lit_grp_3lang_percent = [[0]*len(lit_grp)]*len(state_lang)
for i in range(len(state_lang)):
    temp = [0]*len(lit_grp)
    for j in range(len(lit_grp)):
        if lit_grp[j] == 'Illiterate':
            temp[j] = (data['Unnamed: 8'][(list(data['Unnamed: 2']).index(state_lang[i]))+j+1])*100 / lit_grp_tot_cen[i][j]
        else:
            temp[j] = (data['Unnamed: 8'][(list(data['Unnamed: 2']).index(state_lang[i]))+j+2])*100 / lit_grp_tot_cen[i][j]
    lit_grp_3lang_percent[i] = temp

In [29]:
lit_grp_3lang_percent

[[0.8675576384856303,
  2.54164538852191,
  4.68928540926999,
  8.023217297776739,
  17.638081680913988,
  32.430629244655044],
 [2.425672749101263,
  10.4086562310812,
  15.27433123183678,
  20.933988085557864,
  37.25557739638763,
  67.38547855189334],
 [0.2637453928124038,
  1.6453657140520872,
  2.7276127584383425,
  5.789301134390905,
  9.616516212063793,
  15.250252457966589],
 [1.5433919630605826,
  12.460384866076158,
  17.840539153957373,
  36.267559815478236,
  59.79676520116242,
  76.65196161390604],
 [1.266739196518567,
  13.4677392730194,
  17.716115261472787,
  24.082267449655433,
  44.84293430700987,
  69.46665775277316],
 [0.14887660868320013,
  0.6897464968977839,
  0.9429411301879175,
  1.581808140191958,
  3.8213459095801343,
  7.2429824407220575],
 [0.22974075672775493,
  1.1508019141619275,
  2.5894069546784193,
  5.560677223298717,
  9.575584913894252,
  18.039673216716345],
 [0.33549175911948476,
  2.731778711590256,
  3.315755925651331,
  5.025341576702214,
  10.877281966806214,
  23.91375291713382],
 [0.1062228234883348,
  0.39304403718684233,
  0.9789229320293443,
  2.4966721194312567,
  5.198059687013408,
  7.9583270492236755],
 [0.10539393027338381,
  0.5155270979739065,
  1.0362068970479006,
  1.745192003296497,
  3.5793709110192644,
  6.647457347589749],
 [0.34907714423474306,
  1.3830190965101394,
  2.0365004280891883,
  2.563366111645015,
  4.475869767243129,
  8.557371844702052],
 [3.888301886792453,
  15.200689061154177,
  31.435714223925398,
  49.401107196779066,
  61.147425914145956,
  77.33325170651077],
 [8.303249681895739,
  30.8711570167782,
  43.861983746019675,
  53.121057539356045,
  58.295747849545,
  71.54049919785099],
 [4.20694013847576,
  17.735523639372918,
  28.06077043691995,
  41.42923269350089,
  56.52438071145346,
  70.30027419246974],
 [3.5199373388872583,
  9.445489107675128,
  16.932708982636647,
  24.028295611685834,
  40.264728801194245,
  64.66359365304494],
 [0.7023222008504966,
  2.067032636138327,
  3.1197879006989635,
  4.321477849137889,
  11.610035410231296,
  24.91686987364221],
 [0.7782459321577571,
  1.828630346772604,
  3.023662575001145,
  5.9372446809228965,
  14.061371653330282,
  33.81345601253882],
 [1.7616788111185193,
  3.709626574547174,
  8.74218085917918,
  18.327475603983927,
  30.717508869828805,
  46.93268816491565],
 [3.214515216212313,
  6.216411207797753,
  13.37357615909148,
  20.667671564903802,
  35.32697721348313,
  62.46513306537334],
 [0.41370195287255956,
  0.6929993638780849,
  1.212223055782669,
  2.3986193695342126,
  8.171172529431495,
  24.468926639100033],
 [1.4007850579107255,
  3.0349500339473354,
  4.991511049776609,
  7.379556903077118,
  11.825731868208388,
  20.087062101940795],
 [1.5996785109505403,
  2.825685785493796,
  7.120832445419897,
  19.597358153636456,
  42.815631057424824,
  66.7355646410438],
 [0.5840274282764186,
  0.8159205113456234,
  1.1837379631997373,
  1.5911171732236158,
  3.946468295285622,
  10.915313592834295],
 [0.1688024170093405,
  0.4123786006031591,
  1.0705793896587887,
  2.591412643814494,
  5.578096135127087,
  11.190417531080097],
 [1.008051447886716,
  2.922639698852476,
  8.283848793800436,
  17.07707003556745,
  35.96978182663109,
  68.8330259552297],
 [1.1670100836965045,
  5.810765127896931,
  7.653147393056193,
  11.485993375624544,
  26.303317535545023,
  54.84299328229964],
 [6.178670141684443,
  15.989841908988996,
  28.16087207861921,
  29.15072890196603,
  31.762927919048558,
  51.93491185981016],
 [2.834064832420902,
  5.9688950444123625,
  11.240181664871624,
  16.119849795862358,
  32.7133948576611,
  64.79881367011144],
 [0.8668376811591647,
  2.1369088267203082,
  3.953246637371462,
  9.198327971552832,
  16.589102812480725,
  37.07331049468147],
 [2.5449512726810357,
  6.112027479795478,
  9.972636985197468,
  13.159520065838672,
  23.47583783782474,
  48.93661588165337],
 [8.965801991414668,
  31.483605388616454,
  50.646574285792994,
  64.34546579151228,
  73.38014904492469,
  80.53232353502057],
 [0.7298657718120806,
  2.3804463336875665,
  7.1489893077343325,
  17.885891198584698,
  35.01939933898549,
  67.28931364031277],
 [0.43760840356894765,
  2.004886064900192,
  3.286508702630036,
  5.845181112567688,
  15.480446331103765,
  38.70200579065239],
 [0.49219767495277955,
  1.5774208842573931,
  1.618794138365078,
  2.287873735273216,
  5.745387995703435,
  14.992793723118462],
 [0.2408444695228527,
  1.8028459210611036,
  2.0210629491324985,
  3.0741209917046604,
  8.403906082736636,
  21.216089671827586],
 [1.6616454229432214,
  8.466851812290821,
  12.526492728202879,
  20.393471291168755,
  36.53567095653829,
  55.196821060474356]]

### Getting the maximum percentage for each state/UT with the index for the age group which has this highest percentage

In [30]:
percent_max = [0] * len(state_lang)
percent_max_litgrp = [0] * len(state_lang)
for i in range(len(name_lst)):
    percent_max[i] = max(lit_grp_3lang_percent[i])
    percent_max_litgrp[i] = lit_grp[lit_grp_3lang_percent[i].index(percent_max[i])]

### Getting the codes of the states

In [31]:
state_code = [0] * len(name_lst)
for i in range(len(name_lst)):
    state_code[i] = data['C-19 POPULATION BY BILINGUALISM, TRILINGUALISM, EDUCATIONAL LEVEL AND SEX'][list(data['Unnamed: 2']).index(name_lst[i])]

### Exporting the state codes, state names into a dataframe

In [32]:
data_final = {'state-code': state_code, 'state/ut': state_lang,'literacy-group': percent_max_litgrp,'percentage': percent_max}
literacy_india = pd.DataFrame(data_final)
literacy_india

   state-code                   state/ut      literacy-group  percentage
0          00                      INDIA  Graduate and above   32.430629
1          01            JAMMU & KASHMIR  Graduate and above   67.385479
2          02           HIMACHAL PRADESH  Graduate and above   15.250252
3          03                     PUNJAB  Graduate and above   76.651962
4          04                 CHANDIGARH  Graduate and above   69.466658
5          05                UTTARAKHAND  Graduate and above    7.242982
6          06                    HARYANA  Graduate and above   18.039673
7          07               NCT OF DELHI  Graduate and above   23.913753
8          08                  RAJASTHAN  Graduate and above    7.958327
9          09              UTTAR PRADESH  Graduate and above    6.647457
10         10                      BIHAR  Graduate and above    8.557372
11         11                     SIKKIM  Graduate and above   77.333252
12         12          ARUNACHAL PRADESH  Graduate and above   71.540499
13         13                   NAGALAND  Graduate and above   70.300274
14         14                    MANIPUR  Graduate and above   64.663594
15         15                    MIZORAM  Graduate and above   24.916870
16         16                    TRIPURA  Graduate and above   33.813456
17         17                  MEGHALAYA  Graduate and above   46.932688
18         18                      ASSAM  Graduate and above   62.465133
19         19                WEST BENGAL  Graduate and above   24.468927
20         20                  JHARKHAND  Graduate and above   20.087062
21         21                     ODISHA  Graduate and above   66.735565
22         22               CHHATTISGARH  Graduate and above   10.915314
23         23             MADHYA PRADESH  Graduate and above   11.190418
24         24                    GUJARAT  Graduate and above   68.833026
25         25                DAMAN & DIU  Graduate and above   54.842993
26         26       DADRA & NAGAR HAVELI  Graduate and above   51.934912
27         27                MAHARASHTRA  Graduate and above   64.798814
28         28             ANDHRA PRADESH  Graduate and above   37.073310
29         29                  KARNATAKA  Graduate and above   48.936616
30         30                        GOA  Graduate and above   80.532324
31         31                LAKSHADWEEP  Graduate and above   67.289314
32         32                     KERALA  Graduate and above   38.702006
33         33                 TAMIL NADU  Graduate and above   14.992794
34         34                 PUDUCHERRY  Graduate and above   21.216090
35         35  ANDAMAN & NICOBAR ISLANDS  Graduate and above   55.196821

In [33]:
literacy_india.to_csv('OUTPUT/literacy-india.csv',index=False)